.rounded-lg {
    border-radius: 1rem !important;
  }
  
.cart .text-small {
  font-size: 14px;
}

.cart .separator {
  width: 100px;
  height: 6px;
  border-radius: 10px;
  background-color: #E592A4;
  margin-top: 30px;
}

.cart .text-uppercase {
  letter-spacing: 0.2em;
}

.cart button{
  background-color: #E592A4;
  border: #E592A4;
  margin-top: 50px;
  width: 120px;
}

.cart button:hover{
  background-color: #dd6982;
}

.cart .checkmark{
  color: #E592A4;
  font-weight: bold;
}

.cart .box{
  border: 1px solid #E592A4;
}

.cart .details{
  padding-left: 30px;
}

.cart .title{
  font-size: 40px;
}

.cart input{
  margin-top: 50px;
  width: 300px;
  height: 40px;
  border: 1px solid #E592A4;
  border-radius: 20px;
}

.cart input:focus{
  outline: 1px solid #dd6982;
}