.navbar{
    background: #dd6982;
    font-size: 18px;
    z-index: 3;

}

.navbar img{
    width: 150px;
    margin: 0px;
    margin-bottom: 5px;
}

.navbar .nav-link{
    color: white;
}


.navbar .nav-link .active{
    color: white;
}