.selected-sport-facility{
    background-color: #cccccc;
}

.selected-sport-facility .map-div{
    padding: 0px;
    z-index: 1;
    overflow: hidden;

}

.selected-sport-facility .facility-div{
    background-color: white;
    padding: 50px;
    box-shadow: 5px 0px 7px #888888;
    z-index: 2;
    overflow: auto;
    
}

.selected-sport-facility .create-workout-div{
    background-color: white;
    padding: 50px;
    box-shadow: 5px 0px 7px #888888;
    z-index: 2;
}


.selected-sport-facility .facility-name{
    font-size: 34px;
}

.selected-sport-facility .facility-image{
    width: 300px;
    height: 300px;
}

.selected-sport-facility .facility-address{
    margin-top: 20px;
    font-size: 18px;
    color: gray;
}

.selected-sport-facility .facility-type{
    margin-top: 20px;
    font-size: 18px;
    color: gray;
}

.selected-sport-facility .comment-div{
    height: 150px;
    margin: 30px;
}

.selected-sport-facility .comment-div img{
    width: 100px;
    margin-top:-20px;
    margin-bottom: 10px;
}

.selected-sport-facility .facility-div h3{
    margin-top: 40px;
}

.selected-sport-facility .facility-div .average-rating{
    font-size: 16px;
}


.selected-sport-facility .facility-div .average-rating img{
    width: 20px;
}

.selected-sport-facility .btn-primary{
    background-color: #E592A4;
    border: #E592A4;
    width: 140px;
    padding: 8px;
}

.selected-sport-facility .btn-primary:hover{
    background-color: #dd6982;
}

.selected-sport-facility .btn-primary:disabled{
    background-color: #fdc2cf;
    cursor: not-allowed;
}

.selected-sport-facility .btn-primary:focus{
    background-color: #dd6982;
    border: 0px;
    outline: none;
}

.selected-sport-facility .btn-link{
    color: #dd6982;
    font-weight: 500;
}

.selected-sport-facility .btn-link:hover{
    color: #af4e63;
    text-decoration: none;
}


.selected-sport-facility .date{
    border: 0px;
    border-bottom: 1px solid #E592A4;
    width: 200px;
    margin-top: 20px;
}

.selected-sport-facility .date:focus{
    outline: none;
}

.selected-sport-facility select{
    border: 0px;
    border-bottom: 1px solid #E592A4;
    width: 200px;
    margin-top: 30px;
}

.selected-sport-facility select:focus{
    outline: none;
}

.selected-sport-facility .membership-not-valid{
    margin-top: -20px;
    color:#383838;
}

.selected-sport-facility .workout-div{
    margin-top: 20px;
    background-color: whitesmoke;
}

.selected-sport-facility .facility-workouts img{
    width: 100px;
    height: 100px;
}
.selected-sport-facility .facility-workouts p{
    margin: 0px;
}

.selected-sport-facility .workout-schedule{
    margin-bottom: 40px;
}

.selected-sport-facility textarea{
    background-color: whitesmoke;
    border: 0px;
    border-bottom: 2px solid #E592A4;
}

.selected-sport-facility textarea:focus{
    border: 0px;
    border-bottom: 2px solid #E592A4;
    outline: none;
}

.selected-sport-facility #newComment select{
    width: 50px;
    text-align: center;
}